:root {
  /* Colors */
  --color-primary: #d4a574; 
  --color-secondary: #f3f5f6c6;
  --color-text: #1f2937;

  /* Typography */
  --font-base: system-ui, sans-serif;
  --font-size: 1rem;
  --font-heading: 'Lato', sans-serif;
  /* Spacing */
  --space: 1rem;

  /* Radius */

    /* Shadow */

  /* Transition */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-base);
  /* font-size: var(--font-size); */
  color: var(--color-text);
  /* background-color: var(--color-secondary);
  line-height: 1.6;
  padding: var(--space); */
}

header, main, footer {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
}

.hero {
    position: relative;
    /* width: 100vw;
    margin-left: calc(50% - 50vw);
    height: 420px;
    overflow: hidden;
    display: block;
    background: #000; */
}

.hero img {
    /* position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    height: auto;
    /* object-fit: cover; */
    display: block;
    /* z-index: 0; */
}

h1 {
    position: absolute;
    top: 20px;
    /* left: 50px; */
    width: 100%;
    /* transform: translateX(-50%);
    z-index: 2;
    margin: 0; */
    padding: 16px;
    opacity: 0.7;
    background-color: rgba(9, 44, 78, 0.9);
    color: #fff;
    font-family: var(--font-heading);
    /* font-size: 1.6rem;
    letter-spacing: 1px; */
    text-align: center;
}

/* .hero article {
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 16px;
    z-index: 2;
    background: rgba(9, 44, 78, 0.83);
    color: #fff;
    padding: 14px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 2px;
    font-size: 0.95rem;
} */

.hero article img {
    float: right;
    /* margin-left: auto;
    flex-shrink: 0; */
    width: 125px;
    /* height: auto; */
    
}

h1, h2, h3 {
    font-family: var(--font-heading);
    color: var(--color-primary);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}



