.open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "width" 100;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #222;
    line-height: 1.6;
}

input, select, textarea, button {
    font-family: inherit;
}

header {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #eee;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    background: linear-gradient(to right, #ffffff, #f4f4f4);
}

header h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    color: #333;
    letter-spacing: 1px;
    text-transform: uppercase;
}

form {
    width: 450px;
    margin: 40px auto;
    padding: 20px;
    max-width: 90%;

    background-color: #f0f8ff;
    border: 1px solid #ddd;
    border-radius: 10px;

    display: grid;
    gap: 15px;
}

fieldset {
    display: grid;
    gap: 15px;
    padding: 20px;
    margin-bottom: 25px;
    
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fafafa;
}

legend {
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0 8px;
    color: #333;
}

fieldset label {
    font-weight: 500;
    color: #444;
    margin-bottom: -5px;
}

fieldset input, fieldset select, fieldset textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #bbb;
    font-size: 1rem;
    font-family: inherit;
}

input [type="checkbox"] {
    width: 20px;
    height: 20px;

    transform: scale(1.3);
    vertical-align: bottom;
    margin-right: 8px;

    accent-color: #007bff;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    width: 50%;
    margin: 10px auto;
    transition: background-color 0.3s, transform 0.2s;
    background: linear-gradient(45deg, #007bff, #00c6ff);
}

button:hover {
    background-color: #0056d2;
    transform: scale(1.02);
    box-shadow: 0 0 10px (0, 123, 255, 0.5);
}

button:active {
    transform: scale(0.98);
}

footer {
    background-color: #f1f1f1;
    color: #555;
    font-size: 0.9rem;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
    border-top: 2px solid #e0e0e0;
}

.form-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.column1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    gap: center;
    gap: 10px;
    margin-bottom: 20px;
}

.column2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}