* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    
    max-width: 500px;
    border-radius: 8px;
    background-color: #555;
    color: #fff;
}

h1 {
    margin: .5rem;
}

form {
    background-color: #ddd;
    color: #111;
    border-radius: 6px;
}

input, textarea, select, button{
    padding: .75rem;
    width: 350px;
}

button {
    background-color: navy;
    color: #fff;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
    border:  1px solid rgb(0 0 0 / 10%);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    background: linear-gradient(45deg, #000080, #008080);
}

code {
    display: block;
    background-color: #111;
    color: #fff;
}

.box {
    margin:1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
}

.quiz-item {
    border: none;
} 