header {
  background: purple;
  height: 100px;
}
h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 90%;
  max-width: 960px;
  margin: 10px auto;
}
div {
  height: 100px;
  border: 1px solid black;
}
button {
  font-size: 18px;
  line-height: 1.5;
  width: 15%;
}
/* Add your flexbox CSS below here */
div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
button:first-child {
  align-self: flex-end;
  order: 1;
}
button:last-child {
    order: -1;
}
