body {
  font-family: sans-serif;
  margin: 0;
}
header {
  background: purple;
  height: 100px;
}
h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}
section {
  zoom: 0.8;
  display: flex;
  flex-flow: row wrap;
}
article {
  padding: 10px;
  margin: 10px;
  min-width: 400px;
  background: aqua;
  flex: 1 100px;
}
/* Add your flexbox CSS below here */

article:nth-of-type(3) {
  flex: 2 100px;
}

/* article:nth-of-type(6) {
  flex: 2 100px;
} */

