.Main {
    background-color: cornflowerblue;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 20px;
}
.container {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}
header,
footer {
  border-radius: 5px;
  padding: 10px;
  background-color: rebeccapurple;
  color: whitesmoke;
  text-align: center;
}
aside {
  border-right: 1px solid rebeccapurple;
}
header {
    grid-column: 1/3;
    grid-row: 1;
}
main {
    grid-column: 2;
    grid-row: 2;
}
aside {
    grid-column: 1;
    grid-row: 2;
}
footer {
    grid-column: 1/3;
    grid-row: 3;
}