:root {
    --main-bg-color: lightblue;
    --nav-bg-color: goldenrod;
    --nav-link-color: white;
    --header-color: darkblue;
    --h1-color: goldenrod;
    --font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: var(--font-size);
}

nav {
    display: flex;
    background-color: var(--nav-bg-color);
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--nav-link-color);
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--h1-color);
    padding: 5rem;
    border-bottom: #000;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}

main img {
  width: 150px;
  height: auto;
  border: 1px;
  padding: .1rem;
  box-shadow: 0 0 20px #333;
  float: right;
}

p {
  padding: 0;
    margin: 1rem;
}

aside {
  width: 20rem;
  text-align: center;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2 ;
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 15px;
  left: 150px;
  font-size: small;
}

header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
}

/* Class Selector */
.grid{
  display: grid;
  align-items: center;
}

.box {
  background-color: #eee;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 1rem;
  margin: 1rem ;
  color: #000;
}

.indent {
  padding-left: 2rem;
}



